<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${employee.id != null} ? 'Update Employee' : 'Add Employee'">Add Employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="add-employee-container">
    <div class="form-container">
        <h3 th:text="${employee.id != null} ? 'Update Employee' : 'Add Employee'">Add Employee</h3>
    <form th:action="@{/employees/save}" th:object="${employee}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:field="*{lastName}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>
        <button type="submit"
                th:class="${employee.id != null} ? 'update-btn' : 'btn'"
                th:text="${employee.id != null} ? 'Update Employee' : 'Add Employee'">Add Employee</button>
    </form>
        <hr>
        <a th:href="@{/employees/list}">Back To Employee List</a>
    </div>
</div>
</body>
</html>
